<main>
    <article>
        <h1>Le Bar Aki</h1>
        Parce que le Bar Aki, on s'est longtemps demandé à qui il était. <br>
        C'est le Bar à Qui? C'est le bar au patron? C'est le bar au barman? C'est le bar aux serveurs? C'est le bar aux serveuses?<br>
        Mais n'est-ce pas non plus le bar à Freddy? Celui de Jason, de Kevin, de Monique et de Germaine? <br>
        En fait, c'est le bar aux clients, au personnel, à tous quoi... <br>
        Donc, c'est le Bar à Qui? le Bar Aki !
    </article>

    <article>
        <h2>Snacks</h2>
        Parce que le Bar Aki, ce n'est pas qu'un simple bar, vous pouvez retrouver tous vos snacks préférés : Des frites, des bickys, ... <br>
        Mais aussi toutes vos bières préférées, de la Jupiler à la Karmeliet. Ici, on fait le tour de la Belgique avec une bonne mousse...
    </article>
</main>