/* You can add global styles to this file, and also import other style files */

$background: #efb14a;
$red: #ff0924;
$orange: #fe9015;
$yellow: #ffed4f;
$green: #008848;
$blue: #082eb3;

// body {
// }

nav {
    background: $background;
    border-radius: 0 0 16px 16px;
    border-bottom: 0.1vh solid $yellow;
}

nav section:first-child {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav section:last-child {
    margin: 0vh 5vw;
    display: none;
}

nav section.display:last-child {
    display: flex;
    flex-direction: column;
}

nav img {
    height: 8vh;
    margin: 1vh 2vw;
}

nav img.display {
    transform: rotate(-45deg);
    margin: 1vh 3vw;
}

nav section ul {
    justify-content: flex-end;
    text-align: end;
}

nav section ul li:last-child {
    padding-bottom: 1vh;
}

nav section ul li a {
    color: $yellow;
    text-decoration: none;
    font-size: 1.25 rem;
    font-weight: bold;
    line-height: 1.5rem;
}

main {
    margin: 0.5vh 5vw;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: $orange;
    margin-top: 0.5vh;
}

h2 {
    font-size: 1.25rem;
    font-weight: bold;
    color: $orange;
    margin-top: 0.5vh;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 0.5vh 0;
}

form div:first-child {
    margin-top: 0;
}

form label {
    color: $orange;
    font-weight: bold;
    margin: 0.5vh 0;
}

form input {
    color: $orange;
    border: $orange solid 1px;
    border-radius: 4px;
    background: $yellow;
    padding: 0.25vh 2vw;
}

form select {
    background-color: $yellow;
    color: $orange;
    border: $orange 1px solid;
    border-radius: 8px;
    padding: 0.25vh 2vw;
}

form textarea {
    color: $orange;
    border: $orange solid 1px;
    background: $yellow;
    padding: 0.25vh 1vw;
    border-radius: 4px;
}

button {
    background-color: $background;
    color: $yellow;
    border: $yellow 1px solid;
    border-radius: 8px;
    font-weight: bold;
    padding: 1vh 2vw;
}

.multiBtn {
    display: flex;
    flex-direction: row;
}

.multiBtn button {
    width: 50%;
    border-radius: 0;
}

.multiBtn button:first-child {
    border-radius: 8px 0px 0px 8px;
}

.multiBtn button:last-child {
    border-radius: 0px 8px 8px 0px;
}

.multiBtn button.activated {
    background: $orange;
}

main ul {
    margin: 0.5vh 0;
}

main ul li {
    font-size: 1.125rem;
    line-height: 1.25rem;
    border-bottom: 1px solid $background;
    padding: 0.5vh 0;
    color: $orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main ul li b {
    width: 49%;
    font-weight: bold;
}

main ul li i {
    width: 49%;
    font-style: italic;
    text-align: end;
}

main ul li:last-child {
    border: none;
}

main ul li:hover {
    background: $yellow;
}

main {
    color: $orange;
}